@import 'tailwindcss';

:root {
  --foreground: #171717;
  --color-primary: #ff9500;
  --color-secondary: #0b00ae;
  --color-black: #000000;
  --color-shades-900: #383838;
  --color-shades-800: #5e5e5e;
  --color-shades-700: #535353;
  --color-shades-600: #666666;
  --color-shades-500: #949494;
  --color-shades-400: #b3b3b3;
  --color-shades-300: #d1d1d1;
  --color-shades-200: #ededed;
  --color-shades-100: #f7f8fa;
  --color-success: #6fcf97;
  --color-warning: #f2994a;
  --color-error: #dc1500;
  --color-info: #1477f8;
  --color-title: #102844;
  --color-paragraph: #767278;
  --bg-auth: url('/images/auth.png');
}
